@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(37, 18, 48);
    color: white;
    height: 1.5em;
    font-size: 3em;
    display: flex;
    align-items: center;
    padding: 0 0.5em;
    font-family: "Open Sans", sans-serif;
}

nav ul {
    list-style-type: none;
}

.gamecontainer {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: "Open Sans", sans-serif;
    position: relative;
}
.box{
    border: 3px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: rgb(242, 232, 250);
}

.info{
    font-size: x-large;
}

.gameimfo{
    margin: 0 35px;
    font-family: "Delius", cursive;
}

.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
#reset{
    margin: 0 30px;
    padding: 1px 20px;
    background-color: rgb(200, 155, 243);
    border-radius: 17px;
    cursor: pointer;
    font-weight: bolder;
    font-size: x-large;
    font-family: "Delius", cursive;
}

.line{
    background-color: black;
    width: 0;
    height: 6px;
    position: absolute;
    background-color: blueviolet;
    transition: width 1s ease-in-out;
}







@media screen and (max-width: 950px) {
    nav{
        height: 1.5em;
        font-size: 2em;
    }
    .gamecontainer{
        flex-wrap: wrap;
    }
    .gameimfo{
        margin-top: 3em;
    }
    .gameimfo h1{
        font-size: 1.5rem;
    }
    .container{
        display: grid;
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
    .line{
        display: none;
    }
}
